3gpp/models/adpd-rel-13-extension.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:3gpp:metadata:2005:MBMS:associatedProcedure-rel-13-extension" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:3gpp:metadata:2005:MBMS:associatedProcedure-rel-13-extension" elementFormDefault="qualified">
    <xs:element name="DASHQoEProcedure" type="DASHQoEProcedureType"/> <xs:complexType name="DASHQoEProcedureType">
    <xs:sequence>
        <xs:element name="DASHQoEMetrics" type="xs:string"/>
        <xs:element name="DASHQoESamplePercentage" type="xs:decimal" default="100" minOccurs="0"/> <xs:any namespace="##other" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:anyAttribute processContents="skip"/> </xs:complexType>
</xs:schema>