3gpp/models/Filter-Rel-12-schema-snippet.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
        xmlns="urn:3gpp:metadata:2013:MBMS:filterDescription"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        targetNamespace="urn:3gpp:metadata:2013:MBMS:filterDescription"
        elementFormDefault="qualified">
    <xs:element name="groupFilter" type="groupFilterType"/>
    <xs:complexType name="groupFilterType">
        <xs:sequence>
            <xs:element name="groupID" type="xs:string" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>