3gpp/models/FilterDescription.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
        xmlns="urn:3gpp:metadata:2011:MBMS:filterDescription"
        xmlns:r12="urn:3gpp:metadata:2013:MBMS:filterDescription"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:sv="urn:3gpp:metadata:2009:MBMS:schemaVersion"
        targetNamespace="urn:3gpp:metadata:2011:MBMS:filterDescription" elementFormDefault="qualified"
        version="2">
<xs:import schemaLocation="Filter-Rel-12-schema-snippet.xsd"
           namespace="urn:3gpp:metadata:2013:MBMS:filterDescription"/>
<xs:import schemaLocation="schema-version.xsd"
           namespace="urn:3gpp:metadata:2009:MBMS:schemaVersion"/>
<xs:complexType name="locationFilterType">
<xs:sequence>
    <xs:element name="locationFilter1" type="locationFilterType" minOccurs="0"/>
    <xs:element name="logicalOperation" minOccurs="0">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="AND"/>
                <xs:enumeration value="OR"/>
                <xs:enumeration value="NOT"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:choice>
        <xs:element name="locationRule" minOccurs="0">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="targetArea" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="cellID" type="xs:unsignedLong"
                                            minOccurs="0" maxOccurs="unbounded"/>
                                <xs:element name="shape" minOccurs="0">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="Polygon" minOccurs="0"
                                                        maxOccurs="unbounded">
                                                <xs:annotation>
                                                    <xs:documentation>see [OMA MLP]</xs:documentation>
                                                </xs:annotation>
                                            </xs:element>
                                            <xs:element name="CircularArea" minOccurs="0"
                                                        maxOccurs="unbounded">
                                                <xs:annotation>
                                                    <xs:documentation>see [OMA MLP]</xs:documentation>
                                                </xs:annotation>
                                            </xs:element>
                                            <xs:any namespace="##other" processContents="lax"
                                                    minOccurs="0" maxOccurs="unbounded"/>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                                <xs:any namespace="##other" processContents="lax" minOccurs="0"
                                        maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="startTime" type="xs:unsignedInt" minOccurs="0"/>
                    <xs:element name="endTime" type="xs:unsignedInt" minOccurs="0"/>
                    <xs:element name="duration" type="xs:unsignedInt" minOccurs="0"/>
                    <xs:element name="confidenceLevel" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                                <xs:minInclusive value="0"/>
                                <xs:maxInclusive value="1"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
        <xs:element name="locationFilter2" type="locationFilterType" minOccurs="0"/>
    </xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="locationRuleType">
<xs:sequence>
    <xs:element name="targetArea" type="targetAreaType" maxOccurs="unbounded"/>
    <xs:element name="startTime" type="xs:unsignedInt" minOccurs="0"/>
    <xs:element name="endTime" type="xs:unsignedInt" minOccurs="0"/>
    <xs:element name="duration" type="xs:unsignedInt" minOccurs="0"/>
    <xs:element name="confidenceLevel" minOccurs="0">
        <xs:simpleType>
            <xs:restriction base="xs:decimal">
                <xs:minInclusive value="0"/>
                <xs:maxInclusive value="1"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="targetAreaType">
<xs:sequence>
    <xs:element name="cellID" type="xs:unsignedLong" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="shape">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Polygon" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>see [OMA MLP]</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="CircularArea" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>see [OMA MLP]</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="filterDescriptionType">
<xs:sequence>
    <xs:element ref="sv:schemaVersion"/>
    <xs:element name="filterData" maxOccurs="unbounded">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="locationFilter" type="locationFilterType" minOccurs="0"/>
                <xs:element ref="r12:groupFilter" minOccurs="0"/>
                <xs:element ref="sv:delimiter"/>
                <xs:any namespace="##other" processContents="lax" minOccurs="0"
                        maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:anyURI" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:sequence>
<xs:anyAttribute processContents="skip"/>
</xs:complexType>
<xs:element name="filterDescription" type="filterDescriptionType"/>
        </xs:schema>