3gpp/models/Schedule-Rel-12-schema-snippet.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
        xmlns="urn:3gpp:metadata:2013:MBMS:scheduleDescription"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        targetNamespace="urn:3gpp:metadata:2013:MBMS:scheduleDescription"
        elementFormDefault="qualified">
    <xs:attribute name="unicastOnly" type="xs:boolean" default="false"/>
    <xs:element name="FDTInstanceURI" type="xs:anyURI"/>
    <xs:element name="recurrenceAndMonitoring" type="recurrenceAndMonitoringType"/>
    <xs:complexType name="recurrenceAndMonitoringType">
        <xs:sequence>
            <xs:element name="interval" type="xs:duration"/>
            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="mode" type="xs:boolean"/>
        <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
    <xs:attribute name="sessionDescriptionURI" type="xs:anyURI"/>
</xs:schema>