3gpp/models/USD-Rel-8-schema-snippet.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:3GPP:metadata:2008:MBMS:userServiceDescription"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:3GPP:metadata:2008:MBMS:userServiceDescription"
           elementFormDefault="qualified">
    <xs:element name="alternativeAccessDelivery">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="unicastAccessURI" type="xs:anyURI" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="timeShiftingBuffer" type="xs:unsignedInt" use="optional" default="0"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Registration">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="registrationURI" type="xs:anyURI" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="registrationThreshold" type="xs:unsignedInt" use="optional"
                          default="100"/>
        </xs:complexType>
    </xs:element>
</xs:schema>