3gpp/models/USD-Rel-9-schema-snippet.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:3GPP:metadata:2009:MBMS:userServiceDescription"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:3GPP:metadata:2009:MBMS:userServiceDescription"
           elementFormDefault="qualified">
    <xs:element name="mediaPresentationDescription">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="mpdURI" type="xs:anyURI"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="schedule">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="scheduleDescriptionURI" type="xs:anyURI"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="availabilityInfo">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="infoBinding" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="serviceArea" type="xs:unsignedShort" minOccurs="0"
                                        maxOccurs="unbounded"/>
                            <xs:element name="radioFrequency" type="xs:unsignedInt" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>