3gpp/models/USD-Rel-15-schema-snippet.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:3GPP:metadata:2018:r15:MBMS:userServiceDescription"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:3GPP:metadata:2018:r15:MBMS:userServiceDescription"
           elementFormDefault="qualified" version="3">
    <xs:element name="supplementaryUnicastAppService">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="basePattern" type="xs:anyURI" maxOccurs="unbounded"/>
                <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:anyAttribute processContents="skip"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="ROMSvcRfParams">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Frequency" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>coded as EARFCN per 3GPP TS 36.101</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="subcarrierSpacing" use="required">
                            <xs:annotation>
                                <xs:documentation>restricted to one of the following values in kHz: [1.25,
                                    7.5, 15]</xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="bandwidth" use="required">
                            <xs:annotation>
                                <xs:documentation>restricted to one of the following values in MHz: [1.4, 3,
                                    5, 10, 15, 20]</xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>